body {
    background-color: #161e2d;
    font-family: sans-serif;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    padding-right: 10px;
}

nav a:hover {
    box-shadow: 2px 5px 5px gray;
    transform: translateY(-3in);
}


@media (max-width:700px) {
    header {
        flex-direction: column;
    }
}

.caja {
    background-color: white;
    border-radius: 12px;
    color: #161e2d;
    padding: 20px;
    margin-right: 10px;

    transition: 0.5s ease;
}

.centrado {
    margin: 0 auto;
    width: 500px;
}

.chiquito {
    font-weight: lighter;
    text-align: justify;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-top: 5rem;
}

.box {
    background-color: white;
    color: #161e2d;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / 3;
}

.box2 {
    background-color: white;
    color: #161e2d;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / 4;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-top: 5rem;
}

.centrado2 {
    width: 790px;
    height: 530px;
    padding: 15px;
    background-color: white;
    border-radius: 12px;

    text-align: center;
    align-items: center;
}